---
layout: default
---


<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  <div class="lead">
    <div class="logo">{% include icons/logo.html %}</div> 
    <h1 class="headline_1">Test-Editor-Web</h1>
    <h2 class="headline_2">“UA Tests as they were meant to be”</h2>
    <p class="phrase_main">It is designed to bridge the gap between domain experts, 
      testers and developers with a modern application that integrates with container technologies. 
      It is dedicated to automate the tip of the testing pyramid (acceptance tests) 
      to enable automated product releases and provide confidence in reliable product operation.
    </p>
  </div>
  <hr>
  <div class="row-fluid">
      <div class="span4">
        <h2>Test First</h2>
        <p> Write test specifications before the actual feature is implemented. 
          Make your tests an integral element of your agile feature development.
          <br><a class="page-link" href="/testfirst/">More ...</a> 
        </p>
      </div>
      <div class="span4">
        <h2>For Domain Experts</h2>
        <p> Use a language designed for tests which is designed to be used by domain experts. Define the vocabulary and abstractions of your tests
            yourself and specify readable, comprehensible and reusable tests.
            <br> <a class="page-link" href="/domainexperts/">More ...</a>
        </p>
      </div>
      <div class="span4">
        <h2>Multiple Test Drivers</h2>
        <p> Test different technologies, from web applications up to mainframe applications.
            Use the Test-Editor-Web to test your application, regardless on which technological platform it runs.
            <br><a class="page-link" href="/testdrivers/">More ...</a>
        </p>
      </div>
    </div>
    <hr>
    <div class="row-fluid">
        <div class="span4">
          <h2>Containered Test Execution</h2>
          <p> Have automated test executions that run locally exactly as they run in the cloud.
              Test execution is performed within docker containers that are isolated and complete such that the identical container is used locally as it is used in the cloud.
            <br><a class="page-link" href="/containeredttestexecution/">More ...</a> 
          </p>
        </div>
        <div class="span4">
          <h2>Web UI</h2>
          <p> Make use of a feature rich editor without the need of local installations. Specify and run your tests without the need of a fat client.
              <br> <a class="page-link" href="/domainexperts/">More ...</a>
          </p>
        </div>
        <div class="span4">
          <h2>Seamlessly integrate into your CI</h2>
          <p> Integrate your tests into existing CI pipelines without any hassle.
              <br><a class="page-link" href="/testdrivers/">More ...</a>
          </p>
        </div>
      </div>
      <hr>

  

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
